.title {
  flex: 1;
  padding-top: 100px;
  text-align: center;
  position: relative;

  .logo {
    height: 140px !important;
    width: 140px !important;
    position: relative;
    top: 20px;
  }

  span {
    position: relative;
    left: -40px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}
.home {
  a {
    color: #fff;
    text-decoration: none;
  }
}
main {
  padding: 50px 200px;
}

.category-list {
  flex: 1;
  display: inline-flex;
}

.category {
  display: inline-flex;
  height: 150px;
  width: 300px;
  padding: 30px;
  margin: 20px;
}
.table {
  tr {
    &:last-child td,
    &:last-child th {
      border: 0;
    }
  }
}
